@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes stroke {
    0%   { fill: rgba(72,138,204,0); stroke: rgba(255, 255, 255, 1); }
    100% { fill: rgb(255, 255, 255); stroke: rgba(255, 255, 255, 0); }
}

.fade-in {
    animation: fadeIn 7.0s ease forwards;
    color: black;
  }

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
      opacity: 1;
      color: white;
    }
  }

  .fade-in-instant {
    animation: fadeInInstant 4s ease forwards;
    color: black;
  }

@keyframes fadeInInstant {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      color: white;
    }
  }